.productCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: #f0f8ff;
    transition: transform 0.3s ease;
    width: 250px; /* Set a fixed width */
    height: 450px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCard:hover {
    transform: scale(1.05);
}

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop .add-to-cart:hover {
    background-color: #218838;
}

.product-image {
    text-align: center;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
    height: 150px; /* Set a fixed height for the image */
    object-fit: cover;
}

.card-title {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
    flex-grow: 0; /* Allow the description to grow and take available space */
}

.price {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.price:hover {
    background-color: #218838;
}

.cart-notification {
    position: fixed;
    background-color: #1dcf43;
    color: #333;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    z-index: 1000;
}